* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
a:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* header header header header header header */
* {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}
header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin-bottom: 72px;
}
.conteiner {
  width: 1366px;
  margin: 0 auto;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
.header-nav-sign-up {
  display: flex;
  align-items: center;
}
.header-nav-sign-up li,
.header-nav-sign-up p {
  padding: 0 14px;
}
.header-nav-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.9);
}
.header-title {
  color: #fff;
  font-family: Ubuntu;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 100% */
}
.title-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
header:hover .header-title,
header:hover .title-text {
  color: #01813f;
}
header:hover .header-nav-mail {
  border-right: 1px solid #01813f;
}
header:hover img {
  filter: hue-rotate(145deg) saturate(200%);
}
body {
  background: url(../img/Фон\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.conteiner-main {
  width: 444px;
  margin: 0 auto;
}
.conteiner-main {
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}
.conteiner-form {
  position: relative;
  width: 100%;
  padding: 0px 60px;
}
.sign-up {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  margin-bottom: 15px;
}
.sign-up p:first-child {
  color: #434343;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
.sign-up p:last-child {
  color: #3cb878;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.sign-up p:last-child:hover {
  color: #01813f;
}
.square {
  position: absolute;
  left: 563px;
  left: 0;
  width: 18px;
  height: 18px;
  background: #3cb878;
}
.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}
.facebook {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #305db8;
  padding: 17px 22px 17px 18px;
  border-radius: 4px;
}
.facebook::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #0a162f;
  opacity: 0.1;
  height: 28px;
  width: 1px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.facebook-item {
  position: relative;
  align-items: center;
  background-color: #305db8;
  border-radius: 4px;
}
.facebook-item:hover,
.facebook-item:hover .facebook {
  background-color: #022263;
}
.facebook-img {
  margin: 14px 12px 12px 11px;
}
.google {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #df4a32;
  padding: 17px 22px 17px 18px;
  border-radius: 4px;
}
.google::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #0a162f;
  opacity: 0.1;
  height: 28px;
  width: 1px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.google-item {
  align-items: center;
  background-color: #df4a32;
  border-radius: 4px;
}
.google-item:hover,
.google-item:hover .google {
  background-color: #ab1f09;
}
.google-img {
  align-items: center;
  text-align: center;
  padding: 15px 12px 15px 17px;
  border-left: 1 solid #1e890b;
}
.or {
  gap: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 7px;
  color: #848484;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.or::after {
  flex: 1;
  display: block;
  height: 1px;
  background: #f2f2f2;
  display: block;
  content: "";
}
.or::before {
  flex: 1;
  display: block;
  height: 1px;
  background: #f2f2f2;
  display: block;
  content: "";
}
.name,
.last-name,
.email,
.choose-password {
  color: #434343;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  padding: 14px 0 14px 20px;
  margin-bottom: 15px;
}
.name:focus,
.last-name:focus,
.email:focus,
.choose-password:focus {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}
.name::placeholder,
.last-name::placeholder,
.email::placeholder,
.choose-password::placeholder {
  color: #bebebe;
}
.name:hover,
.last-name:hover,
.email:hover,
.choose-password:hover {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}
.confirm-password {
  color: #434343;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  padding: 14px 0 14px 20px;
  margin-bottom: 12px;
}
.confirm-password:hover {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}
.confirm-password:focus {
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}
.confirm-password::placeholder {
  color: #bebebe;
}
.confirm-password:active {
  color: #434343;
}
.agreeing-to-the-terms-and-conditions {
  color: #434343;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  padding-bottom: 20px;
  margin-left: 8px;
}
.conditions {
  color: #3cb878;
}
.label-checkbox {
  display: flex;
  gap: 8px;
}
input[type="checkbox"]:checked + p .conditions {
  text-decoration: underline;
  color: #01813f;
}
input[type="checkbox"] {
  border: 1px solid #540c0c;
  /* background: rgba(0, 0, 0, 0); */
}
input[type="checkbox"] {
  border: 2px solid #000000; 
}
.create-account {
  width: 100%;
  padding: 16px 0;
  margin: 20px 0 38px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  border-radius: 4px;
  background: rgba(60, 184, 120, 0.8);
}
.create-account:hover {
  background: #01813f;
}
